body {
  /* feel free to change height */
  height: 5000px;
  background: linear-gradient(to bottom, orange, darkblue);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 25px 15px;
  text-shadow: 1px 1px 1px #333;
}

.road-svg {
  position: fixed;
  top: 132px;
  left: 778px;
  width: 528px;
  height: 555.5px;
}

.marker-svg {
  position: fixed;
  width: 45px;
  height: 45px;
  fill: #d81b60;
  cursor: pointer;
}

#penn {
  top: 550px;
  left: 875px;
}

.octagon {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;

  top: 200px;
  left: 200px;
}
.octagon:before {
  content: '';
  width: 100px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
}
.octagon:after {
  content: '';
  width: 100px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
}
